/*-----------------------------------*\
 * #FONTS IMPORTS
\*-----------------------------------*/
@font-face {
  font-family: 'Graphik LC Web';
  src: url('../fonts/GraphikLCWeb-Regular.woff2') format('woff2'),
    url('../fonts/GraphikLCWeb-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Graphik LC Web';
  src: url('../fonts/GraphikLCWeb-Regular.woff2') format('woff2'),
    url('../fonts/GraphikLCWeb-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'HW Pano Trial';
  src: url('../fonts/HWPanoTrial-Light.woff2') format('woff2'),
    url('../fonts/HWPanoTrial-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'HW Pano Trial';
  src: url('../fonts/HWPanoTrial-Regular.woff2') format('woff2'),
    url('../fonts/HWPanoTrial-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'HW Pano Trial';
  src: url('../fonts/HWPanoTrial-LightItalic.woff2') format('woff2'),
    url('../fonts/HWPanoTrial-LightItalic.woff') format('woff');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Pano Ita';
  src: url('../fonts/HWPanoTrial-BoldItalic.woff2') format('woff2'),
    url('../fonts/HWPanoTrial-BoldItalic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Pano Light Ita';
  src: url('../fonts/HWPanoTrial-LightItalic.woff2') format('woff2'),
    url('../fonts/HWPanoTrial-LightItalic.woff') format('woff');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'HW Pano Trial';
  src: url('../fonts/HWPanoTrial-RegularItalic.woff2') format('woff2'),
    url('../fonts/HWPanoTrial-RegularItalic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'HW Pano Trial';
  src: url('../fonts/HWPanoTrial-BoldItalic.woff2') format('woff2'),
    url('../fonts/HWPanoTrial-BoldItalic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Pano Trial';
  src: url('../fonts/HWPanoTrial-Bold.woff2') format('woff2'),
    url('../fonts/HWPanoTrial-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Pano Trial';
  src: url('../fonts/HWPanoTrial-Regular.woff2') format('woff2'),
    url('../fonts/HWPanoTrial-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Pano Trial';
  src: url('../fonts/HWPanoTrial-Light.woff2') format('woff2'),
    url('../fonts/HWPanoTrial-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Pano Ita';
  src: url('../fonts/HWPanoTrial-RegularItalic.woff2') format('woff2'),
    url('../fonts/HWPanoTrial-RegularItalic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'HW Pano Trial';
  src: url('../fonts/HWPanoTrial-Bold.woff2') format('woff2'),
    url('../fonts/HWPanoTrial-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}



/*-----------------------------------*\
 * #CUSTOM PROPERTY
\*-----------------------------------*/

:root {

  /**
   * colors
   */

  --primary: hsl(274, 70%, 47%);
  --white: hsl(0, 0%, 100%);
  --black: hsl(0, 0%, 0%);

  /**
   * typography
   */

  --ff-graphik: "Graphik LC Web", sans-serif;
  --ff-pano: "HW Pano Trial", sans-serif;

  --fs-1: clamp(2rem, 1.773rem + 1.14vw, 2.625rem);
  --fs-2: 20px;
  --fs-3: 19px;
  --fs-4: 18px;
  --fs-5: 16px;
  --fs-6: 15px;
  --fs-7: 14px;
  --fs-8: 13px;
  --fs-9: 12px;
  --fs-10: 11px;

  --fw-500: 500;
  --fw-700: 700;

  /**
   * transition
   */

  --transition: 300ms ease-in-out;

  /**
    * spacing
    */

  --pad-5: .4rem 1.0rem;
}

/* Reset */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

button {
  color: inherit;
  background: none;
  border: none;
  font: inherit;
  cursor: pointer;
}

/* general */

.img-fluid {
  width: 100%;
  display: inline-block;
}

body {
  min-height: 100vh;
  background-color: var(--black);
  font-family: var(--ff-graphik);
}

.container {
  margin-inline: auto;
  width: min(100% - 4rem, 1200px);
}

.btn {
  cursor: pointer;
  padding: .8rem 2rem;
  min-width: 100px;
  transition: var(--transition);
  text-transform: uppercase;
}

.btn-white {
  background-color: var(--white);
  color: var(--black);
}

.btn-white:is(:hover, :focus) {
  --white: hsl(0, 0%, 60%);
  background-color: var(--white);
}

/*Navigation */

.logo {
  color: var(--white);
  font-family: var(--ff-pano);
  font-weight: 300;
  font-size: 1.5rem;
  text-transform: uppercase;
  white-space: nowrap;
  text-align: center;
  width: 100%;
}

.main-nav {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding-block: 3.2rem;
}

.nav {
  margin-left: auto;
  margin-right: auto;
}

.nav-list {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  padding-top: 2rem;
}

.nav-list__item {
  padding: .4rem 2rem;
}

.nav-list__link {
  text-transform: uppercase;
  color: var(--white);
}

@media (min-width : 664px) {

  .nav-list {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 2rem;
    flex-direction: unset;
  }

}

@media (min-width : 920px) {

  .logo {
    width: unset;
  }

  .nav {
    margin-left: auto;
    margin-right: unset;
  }

  .nav-list {
    padding-top: unset;
  }

}



/* Hero */


@media (min-width : 920px) {

  .hero {
    padding-block: 6.5rem;
    display: grid;
    grid-template-columns: repeat(12 1fr);
  }
}

.col-img {
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 1;

}

.col-content {
  grid-column-start: 4;
  grid-column-end: 10;
  grid-row-start: 1;
  align-self: center;
}

.hero-title {
  font-family: var(--ff-pano);
  color: var(--white);
  font-size: var(--fs-1);
  font-weight: 300;
  text-align: left;
  margin-right: 1rem;
  position: relative;
}

.hero-title::before {
  content: "";
  display: block;
  position: absolute;
  right: -20%;
  top: -57%;
  bottom: 0%;
  width: 40rem;
  z-index: -1;

  background: url("../img/hand-draw.svg") center center;
  background-repeat: no-repeat;
  background-size: 70%;
  overflow-x: hidden;
}

.hero-img {
  max-width: 40rem;
  position: relative;
  margin-left: 2rem;
}

.hero-img::after {
  content: "";
  position: absolute;
  top: -2rem;
  left: -2rem;
  display: block;
  background-image: url('../img/macaron.svg');
  background-size: 50% 50%;
  background-repeat: no-repeat;
  width: 50%;
  height: 50%;
}

/* Footer */

.footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding-bottom: 2rem;
  position: sticky;
  bottom: 0;
}

.scroll-link {
  position: relative;
}

.scroll-link:hover .scroll-link__arrow {
  transform: translateY(5px);
  transition: transform 300ms ease-in-out;
}

.scroll-link__arrow {
  position: absolute;
  display: block;
  bottom: 0;
  width: .8rem;
  transform: translateY(0);
}

.scroll-link__text {
  margin-left: 2rem;
  text-transform: uppercase;
  color: var(--white);
  font-size: .9rem;
  transition: transform 300ms ease-in-out;
}

.social-list {
  display: flex;
  gap: 3rem;
}

.social-list__item {
  max-width: 1.7rem;
}

.social-list__link img {
  width: 100%;
}
